<%= form_for([@project, @question], html: { role: "form" }) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group">
      <div class="col-md-6">
        <%= f.label :body, "What's your question?" %><br>
        <%= f.text_area :body, class: "form-control" %>
      </div>
    </div>
  </div><br />

  <%= f.hidden_field :project_id %>

  <div class="row">
    <div class="form-group">
      <div class="col-md-3">
        <%= f.submit "Ask this question", class: "btn btn-success" %>
      </div>
    </div>
  </div>
<% end %>
