<div class="page-header">
  <h1>Questions <small>Project #<%= @project.project_number %></small></h1>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Question</th>
      <th style="text-align: center;">Responses</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.body %></td>
        <td style="text-align: center;"><%= question.answers.count %></td>
        <td><%= link_to 'Show', [@project, question] %></td>
        <td><%= link_to 'Destroy', [@project, question], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "Back to project", @project %> |
<%= link_to 'Ask a new question', new_project_question_path(@project) %>  <br />

<%= will_paginate @questions %>
