<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @question.body %>
</p>

<p>
  <strong>Project:</strong>
  <%= @question.project_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @question.user_id %>
</p>

<%= link_to 'Edit', edit_project_question_path(@project, @question) %> |
<%= link_to 'Back', project_questions_path(@project) %>
