<%= form_for([@question, @answer], html: { role: "form" }) do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group">
      <div class="col-md-8">
        <%= f.text_area :body, class: "form-control", rows: 5, style: "width: 550px;" %><br />

        <%= f.hidden_field :question_id %>
        <div class="actions">
          <%= f.submit "Add a response", class: "btn btn-success" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
