<script type="text/javascript">
  var closeDate = "";
  jQuery(function($) {
    $("#project_closing_date").datepicker();
    $("#project_question_closing_date").datepicker();
  });
</script>
<%= form_for(@project, html: { role: "form", multipart: true }) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="row">
      <div class="col-md-3">
        <%= f.label :project_number %><br>
        <%= f.text_field :project_number, class: "form-control", placeholder: "Enter the project number" %><br />
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= f.label :name %><br />
        <%= f.text_field :name, class: "form-control", placeholder: "Enter the name of the project" %><br />
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
          <%= f.label :contracting_officer %><br />
          <%= f.collection_select(:contracting_officer_id, ContractingOfficer.order('contracting_officers.last_name ASC').all, :id, :name) %>
      </div>
    </div><br />

    <div class="row">
      <div class="col-md-2">
        <%= f.label :closing_date, "Project closing date" %>
        <%= f.text_field :closing_date, class: "form-control" %>
      </div>
      <div class="col-md-2">
        <%= f.label :question_closing_date, "Question closing date" %>
        <%= f.text_field :question_closing_date, class: "form-control" %>
      </div>
    </div><br />

    <div class="row">
      <div class="col-md-6">
        <%= f.label "Upload bid proposal documents" %><br />
        <%= f.fields_for :documents, @project.documents do |pd| %>
          <%= pd.file_field :document %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
