<style type="text/css">
  .fileinput-button {
    position: relative;
    overflow: hidden;
  }

  .fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
  }

  .bs-callout {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
  }

  .bs-callout-danger {
    background-color: #fdf7f7;
    border-color: #d9534f;
  }

  .field_with_errors { display: inline; }
</style>

<script type="text/javascript">
  function delete_document(project, document) {
    var remove_btn = '#file-remove-btn-' + document;
    $(remove_btn).html("Removing...").attr('disabled', 'disabled');

    var delete_doc_url = '<%= root_url %>projects/' + project + '.json';
    var jqxhr = $.ajax({
      type: 'PATCH',
      url: delete_doc_url,
      data: { project: { documents_attributes: [{ id: document, _destroy: true }]} },
      success: function(data) {
        var document_element = '#uploaded-file-' + document;
        $(document_element).fadeOut();
      },
      error: function(data) {
        console.log("Bombed out!");
        console.log(data);
      }
    });
  }

  $(function() {
    $('input[name="project[prebid_conf]"]').change(function() {
      if($(this).is(":checked")) {
        $('#prebid-conf-info-form').fadeToggle();
      }
    });

    if($('input[name="project[prebid_conf]"]:checked').val() == "true") {
      $('#prebid-conf-info-form').fadeToggle();
    }

    if($('input[name="project[site_visit]"]:checked').val() == "true") {
      $('#site-visit-info-form').fadeToggle();
    }

    $('input[name="project[site_visit]"]').change(function() {
      if($(this).is(":checked")) {
        $('#site-visit-info-form').fadeToggle();
      }
    });

    $('#site-visit-date-field').datepicker();

    $('#prebid-conf-date-field').datepicker();

    $('#project_closing_date').datepicker();

    $('#project_question_closing_date').datepicker();
  });

  var site_visit_autocomplete, prebid_conf_autocomplete;

  function initialize() {
    // Create the autocomplete object, restricting the search
    // to geographical location types.
    site_visit_autocomplete = new google.maps.places.Autocomplete((document.getElementById('site-address-autocomplete-field')), { types: ['geocode'] });
    google.maps.event.addListener(site_visit_autocomplete, 'place_changed', function() {
      console.log("YAY! Address!");
    });

    prebid_conf_autocomplete = new google.maps.places.Autocomplete((document.getElementById('prebid-conf-address-autocomplete')), { types: ['geocode'] });
    google.maps.event.addListener(prebid_conf_autocomplete, 'place_changed', function() {
      console.log("Pre bid address!");
    });
  }
</script>

<div class="container">
  <%= form_for @project, html: { multipart: true, id: "fileupload", role: "form"  } do |f| %>
    <% if @project.errors.any? %>
      <div class="row">
        <div class="col-md-6">
          <div id="error_explanation" class="bs-callout bs-callout-danger">
            <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

            <ul>
              <% @project.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>

    <div class="form-group">
      <div class="row">
        <div class="col-md-2">
          <%= f.label :project_number %><br>
          <%= f.text_field :project_number, class: "form-control col-xs-2", placeholder: "Enter the project number" %><br />
        </div>
        <div class="col-md-4">
          <%= f.label :name %><br />
          <%= f.text_field :name, class: "form-control col-xs-4", placeholder: "Enter the name of the project" %><br />
        </div>
      </div><br />

      <div class="row">
        <div class="col-md-6">
            <%= f.label "Who is the contracting officer for this project?" %><br />
            <%= f.collection_select(:contracting_officer_id, ContractingOfficer.order('contracting_officers.last_name ASC').all, :id, :name) %>
        </div>
      </div><br />

      <div class="row">
        <div class="col-md-2">
          <%= f.label "When are bids due?" %><br />
          <%= f.text_field :closing_date, { class: "form-control", placeholder: "Click to choose" } %><br />
        </div>
        <div class="col-md-4">
          <%= f.label "When are questions due?" %><br />
          <%= f.text_field :question_closing_date, { class: "form-control", placeholder: "Click to choose" } %><br />
        </div>
      </div>

      <!-- Pre-bid conference, no? -->
      <div class="row">
        <div class="col-md-6">
          <%= f.label "Will be there be a pre-bid conference?" %>
          <div class="well">
            <div class="row">
              <div class="col-md-2">
                <%= f.radio_button :prebid_conf, true %>&nbsp; Yes
              </div>
              <div class="col-md-2">
                <%= f.radio_button :prebid_conf, false %>&nbsp; No
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" id="prebid-conf-info-form" style="display: none;">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <%= label_tag "When is the pre-bid conference?" %><br />
              <%= text_field_tag :prebid_conf_date, nil, { placeholder: "Select a pre-bid conference date.", class: "form-control", id: "prebid-conf-date-field" } %><br />

              <%= label_tag "Where is the pre-bid conference?" %><br />
              <%= text_field_tag :prebid_conf_address, nil, { placeholder: "Begin typing the address", class: "form-control", id: "prebid-conf-address-autocomplete" } %>
            </div>
          </div>
        </div>
      </div>

      <!-- Site visits? -->
      <div class="row">
        <div class="col-md-6">
          <%= f.label "Will be there be a site visit?" %>
          <div class="well">
            <div class="row">
              <div class="col-md-2">
                <%= f.radio_button :site_visit, true, { id: "site-visit-yes" } %>&nbsp; Yes
              </div>
              <div class="col-md-2">
                <%= f.radio_button :site_visit, false, { id: "site-visit-no" } %>&nbsp; No
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" id="site-visit-info-form" style="display: none;">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <%= label_tag "When is the site visit?" %><br />
              <%= text_field_tag :site_visit_date, nil, { placeholder: "Select a site visit date.", class: "form-control", id: "site-visit-date-field" } %><br />

              <%= label_tag "Where is the site visit?" %><br />
              <%= text_field_tag :site_visit_address, nil, { placeholder: "Begin typing the address", class: "form-control", id: "site-address-autocomplete-field" } %>
            </div>
          </div>
        </div>
      </div>

      <!-- The loading indicator is shown during image processing -->
      <div class="fileupload-loading"></div><br />

      <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
      <div class="row fileupload-buttonbar">
        <div class="col-md-8">
          <!-- The fileinput-button span is used to style the file input field as button -->
          <button class="btn btn-success fileinput-button">
            <span class="glyphicon glyphicon-plus"></span> Add files
            <%= f.fields_for :documents, @project.documents do |pd| %>
              <%= pd.file_field :document %>
            <% end %>
          </button>
        </div>
        <div class="span5">
          <!-- The global progress bar -->
          <div class="progress progress-success progress-striped active fade">
            <div class="bar" style="width:0%;"></div>
          </div>
        </div>
      </div>

      <!-- Element for holding list of files selected for upload -->
      <div class="row" id="uploaded-files"></div>
      <%= f.fields_for :documents, @project.documents do |pd| %>
        <div class="row" id="uploaded-file-<%= pd.object.id %>">
          <% if pd.object.document.original_filename %>
            <script type="text/javascript">
              $(function() {
                $("button[id^='file-remove-btn-<%= pd.object.id %>']").on('click', function(e) {
                  e.preventDefault();
                  delete_document('<%= @project.id %>', '<%= pd.object.id %>');
                });
              });
            </script>
            <div class="col-md-6">
              <div class="well" id="file-upload-well">
                <%= file_uploadname(pd.object) -%>
                <%= file_upload_info(pd.object) -%>
                <%= file_upload_remove_btn(pd.object) -%>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="col-md-8">
        <!-- The loading indicator is shown during image processing -->
        <div class="fileupload-loading"></div><br />

        <!-- The table listing the files available for upload/download -->
        <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody>
        </table>
      </div>
    </div>


    <div class="actions">
      <%= button_tag "Save as a draft" %>
      <%= f.submit "Publish" %>
    </div>
  <% end %>

</div>
<script>
  var fileUploadErrors = {
  maxFileSize: 'File is too big',
  minFileSize: 'File is too small',
  acceptFileTypes: 'Filetype not allowed',
  maxNumberOfFiles: 'Max number of files exceeded',
  uploadedBytes: 'Uploaded bytes exceed file size',
  emptyResult: 'Empty file upload result'
  };
</script>

<!-- The template to display files available for upload -->
<script id="template-upload-007" type="text/x-tmpl">
  {% for (var i = 0, file; file = o.files[i]; i++) { %}
    <div class="row template-upload fade">
      <div class="col-md-6">
        <div class="well">
          <span class="preview"><span class="fade"></span></span>
          <span class="name">{%=file.name %}</span> <span class="size">({%= o.formatFileSize(file.size) %})</size><br />
          <div class="progress progress-success progress-striped active" style="margin-top: 10px;">
            <div class="bar" style="width:0%;"></div>
          </div>
          <button class="btn btn-primary start">
            <span class="glyphicon glyphicon-upload"></span> Start upload
          </button>
          <button class="btn btn-danger cancel">
            <span class="glyphicon glyphicon-remove"></span> Nevermind
          </button>
        </div>
      </div>
    </div>
  {% } %}
</script>

<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
  <tr class="template-upload fade">
    <td class="preview"><span class="fade"></span></td>
    <td class="name"><span>{%=file.name%}</span></td>
    <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
    {% if (file.error) { %}
    <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
    {% } else if (o.files.valid && !i) { %}
    <td>
      <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
    </td>
    <td class="start">{% if (!o.options.autoUpload) { %}
      <button class="btn btn-primary">
        <i class="icon-upload icon-white"></i>
        <span>{%=locale.fileupload.start%}</span>
      </button>
      {% } %}</td>
    {% } else { %}
    <td colspan="2"></td>
    {% } %}
    <td class="cancel">{% if (!i) { %}
      <button class="btn btn-warning">
        <i class="icon-ban-circle icon-white"></i>
        <span>{%=locale.fileupload.cancel%}</span>
      </button>
      {% } %}</td>
  </tr>
  {% } %}
</script>

<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
      {% if (file.error) { %}
        <td></td>
        <td class="name"><span>{%=file.name%}</span></td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else { %}
        <td class="preview">{% if (file.thumbnail_url) { %}
          <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
          {% } %}</td>
        <td class="name">
          <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
        </td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        <td colspan="2"></td>
        {% } %}
      <td class="delete">
        <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
          <i class="icon-trash icon-white"></i>
          <span>{%=locale.fileupload.destroy%}</span>
        </button>
        <input type="checkbox" name="delete" value="1">
      </td>
    </tr>
    {% } %}
</script>

<script id="upload-block" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
    <div class="col-md-6">
      <div class="well">
        <strong>{%= file.name %}</strong><br />
        Uploaded<br /><br />
        <button class="btn btn-danger">
          <span class="glyphicon glyphicon-remove"></span> Remove
        </button>
      </div>
    </div><br />
  {% } %}
</script>

<script type="text/javascript" charset="utf-8">
  $(function () {
      // Initialize the jQuery File Upload widget:
      $('#fileupload').fileupload({
        autoUpload: true,
        prependFiles: true
      })
      .bind('fileuploaddone', function(e, data) {
        var uploadedFile = data.files[0];
        $('#uploaded-files').prepend(tmpl("upload-block", data));
      });

      $.getJSON($('#fileupload').prop('action'), function (files) {
        var fu = $('#fileupload').data('blueimpFileupload'),
          template;
        fu._adjustMaxNumberOfFiles(-files.length);
        template = fu._renderDownload(files)
          .appendTo($('#fileupload .files'));
        // Force reflow:
        fu._reflow = fu._transition && template.length &&
          template[0].offsetWidth;
        template.addClass('in');
        $('#loading').remove();
      });

  });
</script>
