<%= form_for(@project, html: { role: "form" }) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="row">
      <div class="col-md-3">
        <%= f.label :project_number %><br>
        <%= f.text_field :project_number, class: "form-control", placeholder: "Enter the project number" %><br />
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= f.label :name %><br />
        <%= f.text_field :name, class: "form-control", placeholder: "Enter the name of the project" %><br />
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
          <%= f.label :contracting_officer %><br />
          <%= f.collection_select(:contracting_officer_id, ContractingOfficer.order('contracting_officers.last_name ASC').all, :id, :name) %>
      </div>
    </div><br />

    <div class="row">
      <div class="col-md-3">
        <%= f.label :closing_date %>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
