<h1>Projects</h1>
<%= link_to 'New Project', new_project_path %><br />

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th>Contracting Officer</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to(project.project_number, project) %></td>
        <td><%= truncate(project.name, length: 60) %></td>
        <td><%= link_to(project.contracting_officer, "mailto:#{ project.contracting_officer_email }") %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
