<div class="jumbotron">
  <div class="container">
    <h1>Projects</h1>
    <br />
    <p>
      <%= link_to 'Add a new project', new_project_path, { role: "button", class: "btn btn-success" } %><br />
    </p>
  </div>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th>Contracting Officer</th>
      <th>Questions</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to(project.project_number, project) %></td>
        <td><%= truncate(project.name, length: 45) %></td>
        <td><%= project.contracting_officer.name if project.contracting_officer %></td>
        <td style="text-align: center;"><%= link_to(project.questions.count, project_questions_url(project)) %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add a new project', new_project_path, { role: "button", class: "btn btn-success" } %><br />
