<!DOCTYPE html>
<html lang="en">
<head>
  <% if @page_title %>
    <title>Supply | <%= @page_title %></title>
  <% else %>
    <title>Supply</title>
  <% end %>
  <!-- Latest compiled and minified CSS -->
<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", "datepicker.css", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "bootstrap-datepicker.js", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
mixpanel.init("dc4c7411c5cb59162057c36558bb0ce1");</script><!-- end Mixpanel -->
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <%= yield %>

        <% cache "date-footer-#{ Time.now.year }" do %>
          <p style="text-align: center;">
            <br />&copy; <%= Time.now.year %> Code for America.<br /><br /><br />
          </p>
        <% end %>
      </div>
    </div>
  </div>
  <br />
</body>
</html>
